:root{
    --black-color: #000;
    --white-color: #ffffff;
    --purple-color: #600148;
    --lightpurple-color: #800160dc;
    --blue-color: #006568;
    --lightblue-color: #03888d;
    --grey-color: #7D7E80;
    --background-color: #0A0C10;
}

body{
    background: var(--background-color);
    margin: 0;
    padding: 0;
}

.welcome-page{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 43px;
    box-sizing: border-box;
}

.section{
    display: flex;
    align-items: center;
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-width: 1320px;
}

.section1-text{ 
    flex: 1;
    padding: 20px;
    color: var(--white-color);
}

.section1-img{
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section1-img img{
    width: 620px;
    height: auto;
    border-radius: 40px;
}

.section1{
    flex-direction: row;
}

.section1-sentence{
    font-size: 4em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    line-height: 1.1;
    color: var(--white-color);
}

.colored-text{
    color: var(--lightpurple-color);
    text-transform: uppercase;
    font-weight: 800;
}

.section1-p{
    font-family: 'Inter', sans-serif;
    font-size: 1.125em;
    color: var(--white-color);
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 0.8px;
    max-width: 90%;
}

.button-container{
    display: flex;
    gap: 8px;
}

.hero-btn-primary{
    background-color: var(--lightblue-color);
    border: none;
    transition: transform .4s;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
}

.hero-btn-primary:active{
    background-color: var(--blue-color) !important;
    transform: scale(1.05) !important;
    font-weight: 600 !important;
    text-decoration: none;
}

.hero-btn-primary:hover{
    background-color: var(--blue-color); 
    transform: scale(1.05);
    font-weight: 600;
    text-decoration: none;
}

.hero-btn-secondary{
    background-color: var(--lightpurple-color);
    border: none;
    transition: transform .4s;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
}

.hero-btn-secondary:active{
    background-color: var(--purple-color) !important;
    transform: scale(1.05) !important;
    font-weight: 600 !important;
    text-decoration: none;
}

.hero-btn-secondary:hover{
    background-color: var(--purple-color); 
    transform: scale(1.05);
    font-weight: 600;
    gap: 20px;
    text-decoration: none;
}

.grid-gallery{
    display: grid; 
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 20px 0;
    box-sizing: border-box;
    max-width: 600px;
}

.grid-item{
    overflow: hidden;
    border-radius: 5px;
}

.grid-item img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    object-fit: cover;
    transition: transform .4s;
}

.grid-item img:hover{
    transform: scale(1.05);
}

.section2-text{
    font-size: 1em;
}

.section2-text h2,
.section4-text,
.section5-text{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    line-height: 1.1;
    color: var(--white-color);
    margin-bottom: 20px;
}

.section3-text{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    line-height: 1.1;
    color: var(--white-color);
    margin-bottom: 40px;
}

.section3-text-inline{
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    line-height: 1.1;
    color: var(--white-color);
    margin-bottom: 0;
    margin-right: 20px;
}

.section3-btn-inline{
    margin-bottom: 0;
}

.section3-btn-container{
    display: flex;
    align-items: center;
}

.section2-p,
.sectiom3 h1{
    color: var(--white-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 90%;
}

.underlined-text,
.korean-highlight{
    display: inline;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--purple-color);
    color: var(--lightpurple-color);
}

.section4-text {
    color: var(--white-color);
    margin-bottom: 40px;
}

.features{
    counter-reset: feature-counter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 20px;
}

.features li{
    counter-increment: feature-counter;
    color: var(--white-color);
    flex: 1 1 30%;
    font-size: 25px;
    margin: 20px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.features li[dir="rtl"]{
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.features li::before{
    content: counter(feature-counter);
    counter-increment: item;
    background: var(--purple-color);
    color: var(--white-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 20px;
}

.features li[dir="rtl"]::before{
    margin-right: 0;
}

.sectiom5{
    gap: 30px;
}

.section5-btn-container{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    position: relative;
}

.section5-btn,
.section3-btn{
    background-color: var(--lightpurple-color);
    border: none;
    transition: transform .4s;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}

.section5-btn:active{
    background-color: var(--purple-color) !important;
    transform: scale(1.05) !important;
    font-weight: 600 !important;
    text-decoration: none;
}

.section5-btn:hover{
    background-color: var(--purple-color); 
    transform: scale(1.05);
    font-weight: 600;
    text-decoration: none;
}

.hero-card{
    border: 2px solid var(--lightpurple-color);
    border-radius: 10px;
    overflow: hidden;
    transition: transform .4s;
    flex: 1 1 22%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.hero-card:hover{
    transform: scale(1.05);
}

.hero-card-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hero-card-body{
    padding: 20px;
    background-color: var(--background-color);
    color: var(--white-color);
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}

.hero-card h3{
    margin: 0 0 10px;
    font-size: 1.5em;
}

.hero-card p{
    margin: 0;
    font-size: 1em;
}

.card-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

